@using Newtonsoft.Json
@using TK_ENERGY_GP_PORTAL.Models.DTO

@{
    ViewData["Title"] = "Informes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var funcionarioLoggedIn = Context.Request.HttpContext.Session.GetString("funcionario");
    var funcionario = JsonConvert.DeserializeObject<UserCredentialsDto>(funcionarioLoggedIn);


}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generacion masiva de tokens</title>
    @*  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> *@
    <link rel="stylesheet" href="~/css/fontAwesome/css/all.css" asp-append-version="true" />


    @*  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="~/css/bootstrap5.min.css" asp-append-version="true" />


    @* <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"> *@
    <link rel="stylesheet" href="~/css/dataTables.bootstrap5.min.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    @*  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"> *@
    <link rel="stylesheet" href="~/css/responsive.dataTables.min.css" asp-append-version="true" />



    @*  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"> *@
    <link rel="stylesheet" href="~/css/chosen.min.css" asp-append-version="true" />

</head>
<body>
    <div id="loadingOverlay" class="loader-overlay"></div>
    <div id="loadingScreen" class="loader"></div>
    <div class="container">
        <div class="content">
            <div class="card rounded-0 br-general-card">
                <div class="card-body mg-20px" >
                    <h2 class="txt-forest-green text-center">Informes de transacciones</h2>

                    <form id="informeTransaccionesForm" asp-controller="Transaccion" asp-action="consultarInformeTransacciones" method="GET">

                        <div class="row">

                            <div id="filtroFechas" class="col-lg-6 col-md-12 mb-1">
                                <label for="Rango de fechas">
                                    <h5>Rango de fechas</h5>
                                </label>
                                <div class="input-group">
                                    <input id="fechaInicial" name="dateStart" type="date" required class="form-control form-control-lg br-ip-lemon-green">
                                    <input id="fechaFinal" name="dateEnd" type="date" required class="form-control form-control-lg br-ip-lemon-green">
                                </div>
                            </div>

                            <div id="buscarPorFiltro" class="col-lg-6 col-md-12 mb-1">
                                <label id="labelBotonFiltro" for="botonfiltro">
                                    <h5> </h5>
                                </label>
                                <button type="submit" class="btn-lg btn btn-lemon-green w-100">Buscar <i class="fa-solid fa-filter"></i></button>
                            </div>

                            <div id="removerFiltros" class="col-lg-12 col-md-12 mb-3 display-none" >
                                <button type="button" onclick="removerFiltros()" class="btn-lg btn btn-secondary w-100">Remover filtros <i class="fa-solid fa-filter-circle-xmark"></i></button>
                            </div>

                            <div class="col-12 mt-10" id="content">

                                <div id="fechaInforme" class="display-none" >
                                    <h3 class="txt-forest-green mg-top-10px">Fecha en la que se realiza el informe</h3>
                                    <h4 id="FechaActual"></h4>
                                </div>
                                <h4 id="filtrosUsados"></h4>

                                <h4  class="mg-top-20px" id="resultadoInforme"></h4>


                            </div>
                        </div>

                        <div class="row" id="ExportarYGraficos">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <button  onclick="exportarPDF()" class="mg-top-25px btn btn-danger w-100">
                                    Exportar a <i class="fa-solid fa-file-pdf"></i>
                                </button>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <button  type="button" id="btnVerGraficas" class="mg-top-25px btn btn-forest-green w-100">
                                    Ver Gráficos <i class="fa-sharp fa-solid fa-chart-simple"></i>
                                </button>
                            </div>
                        </div>

                        <div class="modal fade" id="graficaModal" tabindex="-1" aria-labelledby="graficaModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title txt-forest-green" id="graficaModalLabel">Gráficas de Transacciones</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="informeT" class="modal-body">
                                        <h4 id="totalTrans"><strong> </strong></h4>
                                        <br />
                                        <div id="SubtotalTransacciones" class="grafico"></div>
                                        <br />
                                        <div id="TransaccionesTipo" class="grafico"></div>
                                        <br />
                                        <div id="SubTotalTipo" class="grafico"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn-lg btn btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn-lg btn btn-lemon-green" id="exportarPDFGraficos">Exportar todos</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    @*  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <script src="~/js/jquery-3.6.0.min.js" asp-append-version="true"></script>

    @* <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> *@
    <script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    @* <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script> *@
    <script src="~/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>

    <!-- Responsive Extension JS -->
    @* <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script> *@
    <script src="~/js/dataTables.responsive.min.js" asp-append-version="true"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> *@
    <script src="~/js/chosen.jquery.min.js" asp-append-version="true"></script>

    <script src="~/js/xlsx.full.min.js" asp-append-version="true"></script>

    <script src="~/js/html2pdf.bundle.min.js" asp-append-version="true"></script>


    <!-- Highcharts -->
    @* <script src="https://code.highcharts.com/highcharts.js"></script> *@

    <script src="~/js/highcharts.js" asp-append-version="true"></script>


    @* <script src="https://code.highcharts.com/highcharts-3d.js"></script> *@

    <script src="~/js/highcharts-3d.js" asp-append-version="true"></script>


    @* <script src="https://code.highcharts.com/modules/exporting.js"></script> *@

    <script src="~/js/exporting.js" asp-append-version="true"></script>


    @* <script src="https://code.highcharts.com/modules/export-data.js"></script> *@

    <script src="~/js/export-data.js" asp-append-version="true"></script>


    @* <script src="https://code.highcharts.com/modules/accessibility.js"></script> *@

    <script src="~/js/accessibility.js" asp-append-version="true"></script>


    @* <script src="https://code.highcharts.com/modules/offline-exporting.js"></script> *@

    <script src="~/js/offline-exporting.js" asp-append-version="true"></script>

    <script src="~/js/Views/Transaccion/Informes.js" asp-append-version="true"></script>


    <script>
        var mensajeError = @Html.Raw(Json.Serialize(ViewData["MensajeError"]));
    </script>
</body>
</html>

